<!DOCTYPE html>
<html>
  <%- include('meta', { title, script }); -%>
  <body>
    <%- include('header'); -%>
    <% if(exchange.status === 'complete') { %>
      <h3>Exchange is complete!</h3>
      <h4>Prompt:</h4>
      <p><%= exchange.prompt %></p>
      <h4>You said:</h4>
      <p><%= exchange.userMessage %></p>
      <h4>The other participant said:</h4>
      <p><%= exchange.correspondantMessage %></p>
    <% } else if (exchange.userMessage) { %>
      <h3>Waiting for participant to respond</h3>
      <h4>Prompt:</h4>
      <p><%= exchange.prompt %></p>
      <h4>You said:</h4>
      <p><%= exchange.userMessage %></p>
    <% } else { %>
      <h3>Exchange is incomplete!</h3>
      <h4>Prompt:</h4>
      <p><%= exchange.prompt %></p>
      <textarea id="message"></textarea>
      <button id="submit">Submit your Message</button>
    <% } %>
    <%- include('footer'); -%>
  </body>
</html>
